@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

a:hover {
    cursor: pointer;
}

img:hover {
    cursor: pointer;
}

.creaSegnalazioni {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-style: solid;
    border-color: #D70505;
    background-color: #D70505;
    height: 60vh;
    width: 90%;
    position: relative;
    border-radius: 40px;
    display: flex;
}

.creaSegnalazioni h4 {
    font-size: 24px;
    margin: 0;
    position: absolute;
}

.inserimento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inserimento label {
    display: block;
    color: white;
}

.inserimento input {
    flex: 1;
    margin-right: 20px;
    padding: 50px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.inserimento select {
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.dettagliSegnalazioni {
    margin: 40px auto;
    color: white;
    background-color: #00000065;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.dettagliSegnalazioni p {
    font-size: 18px;
    margin: 20px;
    text-align: left;
    width: 100%;
    padding-left: 20px;
}

.header {
    position: relative;
    padding: 20px 20px 20px 0;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .profile {
    margin-left: auto;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #dababa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 36px;
    color: #333;
}

.bc {
    display: none;
    background-color: #404040;
    margin: 0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1003;
}

body.scrolled .bc {
    display: block;
}

.bar {
    position: relative;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #D00E0E, #D00E0E00);
    width: 100%;
    height: 10px;
}

.logo {
    color: white;
    display: flex;
    background-image: linear-gradient(to right, #D00E0E, #D00E0E00);
    width: 100%;
    max-width: 90%;
    padding: 20px;
    margin: 5px 5px 5px 20px;
    border-radius: 20px;
    align-items: center;
}

.logo #utenteImg {
    height: 100%;
    align-self: center;
}



.containerSegnalazioni {
    color: white;
    background-color: #404040;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1002;
    max-width: 100%;
    height: 50px;
    padding: 20px 20px 20px 0;
    display: flex;
    align-items: center;
}

.containerSegnalazioni h2 {
    font-size: 36px;
    text-align: center;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 200%;
}

.containerSegnalazioni .editIcon {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
}

.containerSegnalazioni .ricercaButton {
    max-width: 48px;
    max-height: 48px;
    margin-left: 1200px;
    position: absolute;
    right: 7%;
    top: 50%;
    transform: translateY(-50%);
}

.containerSegnalazioni .sezFiltro {
    position: absolute;
    right: 12%;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    display: flex;
}

.containerSegnalazioni .sezFiltro select {
    padding: 6px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 1%;
}

.containerSegnalazioni .sezFiltro input {
    padding: 6px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 1%;
}

.sezFiltro .XButton {
    padding: 0px;
    border-radius: 5px;
    background: none;
    margin: 1%;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.parentContainer {
    height: 100vh;
    overflow: visible;
}

.segnalazioni {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.creaSegnalazione p {
    padding: 10px 20px;
    font-size: 14px;
    margin-bottom: 0;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.segnalazione button, .buttonAula {
    padding: 10px 20px;
    font-size: 14px;
    margin-bottom: 3%;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    background-color: #2C2C2C;
    border: 2px solid #2C2C2C;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}

.buttonAula {
    width: 30%;
    height: 90px;
    font-size: larger;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}

.annulla {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    width: 20%;
    background-color: #D70505;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
    margin: auto;
}

.annulla:hover {
    background-color: #A45050;
    border: none;
}

.selezionaPiano .annulla {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    width: 20%;
    background-color: #D70505;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
    margin-top: 40px;
}

.selezionaPiano .annulla:hover {
    background-color: #A45050;
}

.segnalazione {
    background-color: #ffffff;
    height: 250px;
    width: calc(33% - 40px);
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
}

.segnalazione h4 {
    margin: 10px 20px;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 50px);
}

.barraSegnalazione {
    background-color: #df5900;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
    margin: 0;
}

#Nuova.barraSegnalazione {
    background-color: #D70505;
}

#Completa.barraSegnalazione {
    background-color: #1c8107;
}

#Archiviata.barraSegnalazione {
    background-color: #272727;
}


.barraSegnalazione h4 {
    font-size: 18px;
    color: white;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.div-animate {
    animation: slide-up 0.5s ease-out forwards;
}

.infoAccount {
    margin: 40px auto;
    color: white;
    background-color: #00000065;
    padding: 1%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testa {
    margin: 0;
    color: white;
    font-size: 24px;
    background-color: #d6d6d6;
    padding: 10px 20px;
    border-radius: 20px;
    align-items: center;
}

#Studente {
    font-size: 24px;
    color: white;
    background-color: #ff7011;
    
}

#Docente {
    font-size: 24px;
    background-color: #8408ff;
    color: white;
    
}

#Tecnico {
    font-size: 24px;
    background-color: #0f0f0f;
    color: white;
    
}

#Amministratore{
    background-color: #D70505;
    font-size: 24px;
    color: white;
    
}




.infoAccount p {
    margin: 10px 0;
    text-align: center;
}



.creaSegnalazione {
    margin: 40px auto;
    color: white;
    background-color: #00000065;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selezionaPiano {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.selezionaPiano h4 {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.noButton {
    background: none;
    border: none;
    padding: 0;
    margin-right: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.noButton:hover {
    background: none;
    border: none;
}

.containerSegnalazioni .buttonNuova {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto 0 0 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    width: 10%;
    background-color: #D70505;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
}

.containerSegnalazioni .buttonNuova:hover {
    background-color: #A45050;
}

button:hover {
    background-color: #4e4e4e;
    border: 2px solid #4e4e4e;
    color: #ffffff;
    cursor: pointer;
}

.creaSegnalazioni {
    margin: 20px auto;
    color: white;
    border: 2px solid #D70505;
    background-color: #D70505;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.creaSegnalazioni h4 {
    font-size: 18px;
    margin: 0;
    position: absolute;
}

.inserimento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inserimento label {
    display: block;
    color: white;
}

.inserimento input {
    flex: 1;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.inserimento select {
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.barraStato {
    background-color: #df5900;
    height: 50px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#Nuova.barraStato {
    background-color: #D70505;
}

#Completa.barraStato {
    background-color: #1c8107;
}

#Archiviata.barraStato {
    background-color: #272727;
}

.reimg {
    max-width: 24px;
    max-height: 24px;
    object-fit: cover;
    margin-right: 7%;
    margin-left: none;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}


@media (max-width: 768px) {
    .header .profile {
        position: relative;
    }

    .logo {
        width: 100%;
    }

    .containerSegnalazioni {
        align-items: center;
    }

    .segnalazione {
        width: 100%;
        max-width: none;
    }

    .utente {
        width: 100%;
        max-width: none;
    }

    .infoAccount, .creaSegnalazione, .creaSegnalazioni, .dettagliSegnalazioni {
        width: 100%;
        padding: 20px;
    }

    .buttonAula {
        letter-spacing: normal;
        width: 70%;
    }
}

.barraStato {
    margin-top: 0;
    padding-top: 0;
}

.mostraUtenti {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.utente {
    background-color: #ffffff;
    height: 200px;
    width: calc(20% - 40px);
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.utente h4 {
    margin: 10px 20px;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 50px);
}

.barraUtente {
    background-color: #D70505;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
    margin: 0;
}

.barraUtente h4 {
    font-size: 18px;
    color: white;
}


